footer.footer
    .footer-content
        a(href="#") 제휴 문의
        a(href="#") 광고 안내
        a(href="#") 개인정보처리방침
        a(href="#") 이용약관
    .footer-content
        span Copyright BlockMonkey ﹠ 깨비도 #{new Date().getFullYear()} Cointome. All rights reserved. 